* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1b1d21;
  --white: #f9f9f9;
  --light-black: #363b44;
  --middle-black: #2b2e34;
  --dashboard-black: #26292f;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  width: 0.7em;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: transparent;
  height: 30px;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

.sw {
  max-width: 1280px;
  padding-inline: 20px;
  margin: auto;
}

.fw {
  width: 100%;
}

img {
  object-fit: cover;
}
